.arrival {
  padding-top: clamp(2rem, calc(2rem + 8.45vw), 11.25rem);

  &__title {
    text-align: center;
  }

  &__text {
    margin-bottom: rem(60);
    text-align: center;
    color: var(--color-gray-700);

    a {
      position: relative;
      color: var(--color-green);
      transition: color 0.3s linear;

      &::before {
        content: "";
        position: absolute;
        bottom: -2px;
        width: 100%;
        height: 1px;
        background-color: currentcolor;
      }

      &:hover {
        color: var(--color-green-100);
      }
    }
  }

  @include for-width(-mobile-md) {
    padding-top: rem(50);
  }
}

.arrival-slider {
  position: relative;
  overflow: hidden;
  padding-bottom: clamp(1rem, calc(0.5rem + 2.7vw), 3.75rem);
}

.swiper-pagination-bullet {
  border-radius: 100vw;
  width: 30px;
  height: 4px;
  background-color: var(--color-gray-500);
  opacity: 1;

  &:not(:last-child) {
    margin-right: 12px !important;
  }

  &-active {
    background-color: var(--color-gray-800);
  }
}
