.arrival {
  padding-top: clamp(2rem, calc(2rem + 8.45vw), 11.25rem);

  &__title {
    text-align: center;
  }

  &__text {
    margin-bottom: clamp(2rem, calc(1rem + vw(44)), 3.75rem);
    text-align: center;
    color: var(--color-gray-700);
  }

  &__link {
    font-size: rem-f(18);
    color: var(--color-green);
  }

  @include for-width(-mobile-md) {
    padding-top: rem-f(50);
  }
}

.arrival-slider {
  position: relative;
  overflow: hidden;
  padding-bottom: clamp(3rem, calc(0.5rem + 2.7vw), 3.75rem);
}

.swiper-pagination-fraction {
  bottom: 0;
}

.swiper-pagination-bullet {
  border-radius: 100vw;
  width: 30px;
  height: 4px;
  background-color: var(--color-gray-500);
  opacity: 1;

  &:not(:last-child) {
    margin-right: 12px !important;
  }

  &-active {
    background-color: var(--color-gray-800);
  }
}
