.fashion {
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--grid-gap);

    @include for-width (-mobile-md) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__content {
    @include flex-all-sb;

    margin-bottom: 60px;
  }
}
