.gender {
  position: relative;
  padding-bottom: clamp(3rem, calc(2rem + 8.45vw), 11.25rem);

  &__list {
    position: absolute;
    top: -33%;
    z-index: 5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--grid-gap);
  }

  &__item {
    position: relative;

    picture {
      overflow: hidden;
      margin-bottom: 15px;
      border-radius: var(--br);
    }

    a {
      &::before {
        content: "";
        position: absolute;
        z-index: 5;
        inset: 0;
      }
    }

    img {
      transition: transform 0.3s ease-in-out;
    }

    &:hover {
      h3 {
        color: var(--color-green);
      }

      img {
        transform: scale(1.08);
      }
    }
  }
}
