.gender {
  position: relative;
  padding-bottom: 180px;


  &__list {
    position: absolute;
    top: -20%;
    z-index: 5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;


    li {
      position: relative;

      &:hover h3 {
        color: var(--color-green);
      }

      a {
        transition: color 3s linear;

        &::before {
          content: "";
          position: absolute;
          z-index: 5;
          inset: 0;
        }
      }
    }
  }

  &__img {
    margin-bottom: 15px;
  }

  &__wrapper {
    padding-top: clamp(50px, 3rem, 185px);
  }
}
