.instagram {
  @include flex-sb;

  &__content {
    flex-shrink: 0;
    margin-right: rem(30);

    @include for-width(-mobile-l) {
      flex-shrink: inherit;
      text-align: center;

      .btn {
        margin: 0 auto;
      }
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;

    li {
      cursor: pointer;
    }
  }

  @include for-width(-mobile-l) {
    flex-direction: column-reverse;
    gap: rem(30);
  }
}
