.mobile-app {
  position: relative;
  background-color: var(--color-gray-900);

  &__inner {
    @include flex;

    justify-content: end;
    padding: rem(60) 15px;
  }

  &__box {
    position: absolute;
    left: 17%;
    bottom: 0;
  }

  &__content {
    width: 100%;
    max-width: 600px;
    padding-left: 15px;
    z-index: 5;
  }

  &__title {
    margin-bottom: rem(50);
    font-size: clamp(1.56rem, calc(1.48rem + 0.44vw), 2rem);
    color: var(--color-white);
  }

  &__list {
    @include flex;

    gap: 25px;
  }

  &__link {
    @include flex-all-center;
  }
}
