.partners {
padding: clamp(50px, rem(120), 125px) 0;

  &__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    // column-gap: 102px;
  }

  &__item {
    // flex-shrink: 0;
    &:not(:last-child) {
      margin-right: clamp(50px, rem(102), 105px);
    }
  }

  &__icon {
    width: 120px;
    height: 64px;
    filter: grayscale(100%);
    transition: filter 0.3s linear;

    &:hover {
      filter: none;
    }
  }
}
