.partners {
  padding: clamp(50px, rem(120), 125px) 0;

  @include for-width(-desktop-med) {
    padding: clamp(25px, rem(60), 65px) 0;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: clamp(1.13rem, calc(2rem + 4vw), 6.4rem);
    place-items: center;

    @include for-width (-mobile-l) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__icon {
    width: 120px;
    height: 64px;
    filter: grayscale(100%);
    transition: filter 0.3s linear;

    &:hover {
      filter: none;
    }
  }
}
