.partners {
  padding: clamp(2rem, calc(1.3rem + 2.29vw), 4.06rem) 0;

  &__list {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(6, 1fr);
    gap: clamp(0.5rem, calc(0.5rem + 5vw), 6.4rem);

    @include for-width(-mobile-md) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__icon {
    width: 120px;
    height: 64px;
    filter: grayscale(100%);
    transition: filter 0.3s linear;

    &:hover {
      filter: none;
    }
  }
}
