.services {
  margin: 0;
  padding: clamp(2rem, calc(0.64rem + 5.715vw), 7.5rem) 0;

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: clamp(1.56rem, calc(-1rem + 6vw), 6.25rem);

    @include for-width(-mobile-md) {
      place-items: center;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__item {
    @include flex-all-center;

    position: relative;
    flex-direction: column;
    text-align: center;
    isolation: isolate;

    &::before {
      content: "";
      transform: translateY(-24px);
      mask-image: url("../img/sprite.svg#delivery");
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: cover;
      width: 48px;
      height: 48px;
      background-color: var(--color-green);
      transition: background-color 2s linear;

      // @include for-width(-mobile-md) {
      //   top: -50px;
      // }
    }

    &:not(:last-child) {
      &::after {
        content: "";
        position: absolute;
        right: calc(0.2rem - 2.78vw);
        bottom: 0;
        width: 1px;
        height: 136px;
        background: linear-gradient(rgba(218, 219, 221, 0),
            rgba(218, 219, 221, 0.5),
            rgba(218, 219, 221, 1),
            rgba(218, 219, 221, 0.5),
            rgba(218, 219, 221, 0));


        @include for-width(-mobile-l) {
          content: none;
        }
      }
    }

    &--shipping {
      &::before {
        mask-image: url("../img/sprite.svg#delivery");
      }
    }

    &--support {
      &::before {
        mask-image: url("../img/sprite.svg#call-center");
      }
    }

    &--guarantee {
      &::before {
        mask-image: url("../img/sprite.svg#shield");
      }
    }

    &--payment {
      &::before {
        mask-image: url("../img/sprite.svg#credit-card");
      }
    }


    h3 {
      @include flex-all-center;

      margin-bottom: 10px;
      min-height: 45px;

    }

    p {
      min-height: 50px;
      margin-bottom: 1rem;
    }
  }
}
