.services {
  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: clamp(1.13rem, calc(2rem + 3vw), 6rem);

    @include for-width(-mobile-md) {
      place-items: center;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__item {
    @include flex-all-center;

    position: relative;
    flex-direction: column;
    text-align: center;

    &::before {
      content: "";
      top: -70px;
      position: absolute;
      mask-image: url("../img/sprite.svg#delivery");
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: cover;
      width: 48px;
      height: 48px;
      background-color: var(--color-green);
      transition: background-color 2s linear;

      @include for-width(-mobile-md) {
        top: -50px;
      }
    }

    &:not(:last-child) {
      &::after {
        content: "";
        position: absolute;
        right: -25%;
        bottom: 0;
        width: 1px;
        height: 136px;
        background: linear-gradient(rgba(218, 219, 221, 0),
            rgba(218, 219, 221, 0.5),
            rgba(218, 219, 221, 1),
            rgba(218, 219, 221, 0.5),
            rgba(218, 219, 221, 0));

        @include for-width(-mobile-l) {
          content: none;
        }
      }
    }

    &--shipping {
      &::before {
        mask-image: url("../img/sprite.svg#delivery");
      }
    }

    &--support {
      &::before {
        mask-image: url("../img/sprite.svg#call-center");
      }
    }

    &--guarantee {
      &::before {
        mask-image: url("../img/sprite.svg#shield");
      }
    }

    &--payment {
      &::before {
        mask-image: url("../img/sprite.svg#credit-card");
      }
    }

    &:nth-child(-n + 2) {
      @include for-width(-mobile-md) {
        margin-bottom: 30px;
      }
    }

    h3 {
      @include flex-all-center;
      
      margin-bottom: 15px;
      min-height: 40px;

    }

    p {
      min-height: 50px;
    }
  }
}
