.slider {
  position: relative;

  &--trending {
    padding: clamp(1rem, calc(0.8rem + 3.5vw), 5rem) 0;
    background-color: var(--color-gray-300);
  }

  &__nav {
    @include flex-all-sb;
  }

  &__btns {
    @include flex-sb;
    gap: 1.5rem;

    position: relative;
  }

  &__btn {
    margin: 0 auto;
  }
}

.sale-slider,
.trending-slider {
  overflow: hidden;
  padding-bottom: clamp(1rem, calc(0.5rem + 2.7vw), 3.75rem);

  &__next,
  &__prev {
    right: 0;

    &:hover {
      background-color: var(--color-green);

      &::before {
        background-color: var(--color-white);
      }
    }
  }

  &__prev {
    right: 60px;
  }
}
