.subscribe {
  padding: clamp(2rem, calc(1rem + 4vw), 4.061rem) 0;
  background-color: var(--color-gray-200);

  &__inner {
    @include flex-all-sb;

    @include for-width (-mobile-md) {
      justify-content: center;
    }
  }

  &__content {
    width: 100%;
    max-width: 500px;
  }

  &__box {
    @include for-width(-mobile-md) {
      display: none;
    }
  }

  &__title {
    margin-bottom: rem-f(24);
  }

  &__text {
    margin-bottom: 2rem;
    font-size: rem-f(20);
    color: var(--color-gray-700);
  }

  .form {
    @include flex-sb;
  }
}
