.subscribe {
  margin-bottom: 0;
  padding: rem(65) 0;
  background-color: var(--color-gray-200);

  &__inner {
    @include flex-all-sb;
  }

  &__content {
    width: 100%;
    max-width: 500px;
  }

  &__box {
    @include for-width(-mobile-sl) {
      display: none;
    }
  }

  &__title {
    margin-bottom: rem(24);
  }

  &__text {
    margin-bottom: rem(32);
    font-size: 20px;
    color: var(--color-gray-700);
  }
}
