.accordion {
  &__list {
    margin-bottom: rem(40);
  }

  &__item {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -20px;
      width: 100%;
      height: 1px;
      background-color: var(--color-gray-300);
    }

    &:not(:last-child) {
      margin-bottom: rem(40);
    }
  }

  &__content {
    display: grid;
    grid-template-rows: 0fr;
    font-size: rem(14);
    color: var(--color-gray-800);
    transition: grid-template-rows 0.5s ease-in-out;

    & div {
      overflow: hidden;
      pointer-events: none;
    }

    &[aria-hidden="false"] {
      grid-template-rows: 1fr;
    }
  }

  &__btn {
    position: relative;
    margin-bottom: 1rem;
    width: 100%;
    font-weight: 700;
    text-align: left;
    color: var(--color-gray-900);
    transition: color 0.5s linear;

    &::before {
      content: "";
      position: absolute;
      right: 0;
      mask-image: url("../img/sprite.svg#plus");
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: cover;
      width: 16px;
      height: 16px;
      background-color: var(--color-green);
      transition: mask-image 0.1s linear;
    }

    &[aria-expanded="true"] {
      color: var(--color-green);

      &::before {
        mask-image: url("../img/sprite.svg#minus");
      }
    }
  }

  &__text {
    margin-bottom: rem(24);

    span {
      font-weight: 700;
    }
  }
}

.accordion-table {
  width: 100%;

  th,
  td {
    padding: 15px 0;
  }

  tr {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -1px;
      width: 100%;
      height: 1px;
      background: linear-gradient(rgba(218, 219, 221, 0),
          rgba(218, 219, 221, 0.5),
          rgb(218, 219, 221, 1),
          rgba(218, 219, 221, 0.5),
          rgba(218, 219, 221, 0));
    }
  }

  &__title {
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.063em;
    text-transform: uppercase;
    color: var(--color-gray-700);
  }
}

details>summary {
  width: 255px;
  overflow: hidden;
}


summary {
  position: relative;
  cursor: pointer;
  outline: none;
  transition: color 0.3s linear;

  h3 {
    text-align: left;
  }

  &:hover {
    color: var(--color-green);
  }

  &::-webkit-detailes-marker {
    background: transparent;
  }
}

summary::marker {
  content: none;
}

summary::before,
summary::after {
  content: "";
  color: var(--color-green);
}

summary::before,
summary::after {
  width: 1rem;
  height: 0;
  border-bottom: 1px solid;
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  transform: translateY(-50%);
}

summary::after {
  transform: rotate(90deg);
  transform-origin: 50% 50%;
}

[open] summary::after {
  transform: rotate(0deg);
}

details>.details__content {
  padding-top: 1rem;
}

details[open]>.details__content {
  animation: animate 0.5s forwards;
}

@keyframes animate {
  0% {
    transform: translateY(-10%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
