.article {
  @include flex-a-center;
  position: relative;
  // width: 100%;
  // max-width: 285px;
  flex-direction: column;
  height: 100%;
  // width: 100%;
  // max-width: 362px;

  a {
    transition: color 0.3s linear;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      z-index: 5;
    }

    &:hover {
      color: var(--color-green);
    }
  }

  &__box {
    position: relative;
    border-radius: var(--br);

    span {
      position: absolute;
      top: 16px;
      left: 16px;
      padding: 1px 8px;
      background-color: var(--color-red);
      color: var(--color-white);
      border-radius: var(--br);
      font-weight: 700;
      font-size: 16px;
      line-height: 1.6;
    }
  }

  // &__sale {
  //   position: absolute;
  //   top: 16px;
  //   left: 16px;
  //   padding: 1px 8px;
  //   background-color: var(--color-red);
  //   color: var(--color-white);
  //   border-radius: var(--br);
  //   font-weight: 700;
  //   font-size: 16px;
  //   line-height: 1.6;
  // }

  &__rating {
    position: absolute;
    right: 16px;
    top: 16px;
    width: 78px;
    height: 14px;

    // &::before {
    //   content: "";
    //   position: absolute;
    //   background-image: url("../img/sprite.svg#rating-five");
    //   background-position: center;
    //   background-repeat: no-repeat;
    //   background-size: cover;
    //   width: 78px;
    //   height: 14px;
    // }
  }

  &__wish {
    @include flex-all-center;

    right: 16px;
    bottom: 16px;
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 100vw;
    background-color: var(--color-white);
    z-index: 10;

    &::before {
      content: "";
      position: absolute;
      mask-image: url("../img/sprite.svg#heart");
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: cover;
      width: 17px;
      height: 16px;
      background-color: var(--color-gray-700);
      transition: background-color 2s linear;
    }

    &:hover {
      &::before {
        background-color: var(--color-green);
      }
    }
  }

  &__content {
    @include flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    padding: 16px;
    width: 100%;
    // max-width: fit-content;
  }

  &__title {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: var(--color-gray);
    text-transform: none;
    text-align: left;
  }

  &__price {
    @include flex;
    align-items: center;
    gap: 12px;
    margin-top: auto;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 24;
    line-height: 1.3;

    &-curent {
      font-weight: 700;
      font-size: 24px;
      color: var(--color-red);
    }

    &-old {
      font-weight: 400;
      font-size: 18px;
      line-height: 1.3;
      color: var(--color-gray-700);
      text-decoration: line-through;
    }
  }

  &__interaction {
    margin-top: auto;
    // opacity: 0;
    // visibility: hidden;
    transition: all 0.3s linear;
  }

  // &__img {
  //   position: relative;

  //   &::before {
  //     content: '';
  //     position: absolute;
  //     inset: 0;
  //     //background: lightblue;
  //     mix-blend-mode: hue;
  //   }
  // }

  &:hover .article__interaction {
    opacity: 1;
    visibility: visible;
  }
}

.color-picker>fieldset {
  border: 0;
  display: flex;
  gap: 10px;
  width: fit-content;
  background: var(--color-white);
  padding: 1rem 3rem;
  margin-inline: auto;
  border-radius: 24px;
}

.color-picker input[type="radio"] {
  appearance: none;
  width: 16px;
  height: 16px;
  outline: 1px solid var(--radio-color, currentColor);
  outline-offset: 3px;
  border-radius: 50%;
  cursor: pointer;
}

.color-picker input[type="radio"]:checked {
  background-color: var(--radio-color);
}


.color-picker input[type="radio"]#pink {
  --radio-color: pink;
}

.color-picker input[type="radio"]#blue {
  --radio-color: blue;
}

.color-picker input[type="radio"]#green {
  --radio-color: green;
}

.color-picker input[type="radio"]#dark {
  --radio-color: red;
}

#pink {
  --color-bg: pink;
}
