.breadcrumb {
  margin-bottom: 2rem;
  padding: 1rem 0;
  background-color: var(--color-gray-200);

  &__list {
    @include flex;

    flex-wrap: wrap;
    font-size: rem-f(14);

    li {
      position: relative;
      display: inline-flex;
      align-items: center;

      &:not(:last-child) {
        margin-right: 2rem;

        &::after {
          @include mask-small;
          right: -24px;
          mask-image: url("../img/sprite.svg#chevron");
          background-color: var(--color-gray-600);
          rotate: 180deg;
        }
      }

      a {
        color: var(--color-gray-800);
        transition: color 0.3s linear;

        &:is(:hover, :active) {
          color: var(--color-green);
        }
      }

      span {
        color: var(--color-gray-600);
      }
    }
  }

  &__icon {
    width: 16px;
    height: 16px;
    fill: var(--color-gray-800);
    transition: fill 0.3s linear;

    &:hover {
      fill: var(--color-green);
    }
  }
}
