.breadcrumb {
  margin-bottom: rem(32);
  padding: 16px 0;
  background-color: var(--color-gray-200);

  &__list {
    @include flex;

    flex-wrap: wrap;
    font-weight: 400;
    font-size: 14px;

    li {
      position: relative;
      display: inline-flex;
      align-items: center;

      &:not(:last-child) {
        margin-right: clamp(1.5rem, 1vw + 1rem, 2rem);

        &::after {
          content: "";
          position: absolute;
          right: -24px;
          mask-image: url("../img/sprite.svg#chevron");
          mask-position: center;
          mask-repeat: no-repeat;
          mask-size: cover;
          width: 16px;
          height: 16px;
          background-color: var(--color-gray-600);
          rotate: 180deg;
        }
      }

      a {
        color: var(--color-gray-800);
        transition: color 0.3s linear;

        &:is(:hover, :active) {
          color: var(--color-green);
        }
      }
    }
  }

  &__icon {
    width: 16px;
    height: 17px;
    fill: var(--color-gray-800);
    transition: fill 0.3s linear;

    &:hover {
      fill: var(--color-green);
    }
  }
}
