.btn {
  @include flex-all-center;

  position: relative;
  z-index: 1;
  overflow: hidden;
  border: 0.8px solid var(--color-green);
  border-radius: var(--br);
  padding: rem-f(10) clamp(1.5rem, calc(1rem + vw(24)), 2.5rem);
  max-width: fit-content;
  height: fit-content;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.031em;
  white-space: nowrap;
  color: var(--color-white);
  background-color: var(--color-green);
  isolation: isolate;
  transition:
    color 0.6s ease-in-out,
    background-color 0.5s ease-in-out;

  &::before {
    background-color: currentcolor;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    margin-left: 0;
    width: 10%;
    background-color: var(--color-white);
    opacity: 0; 
    transition:
      transform 0.6s ease-in-out,
      opacity 0.6s ease-in-out;
    inset: 0;
  }

  &:hover {
    color: var(--color-green);

    &::after {
      opacity: 1;
      transform: scale(20);
    }
  }

  &--icon {
    color: var(--color-green);
    background-color: transparent;

    &::before {
      @include mask-icon;
    }

    &::after {
      background-color: var(--color-green);
    }

    &:hover {
      color: var(--color-white);
    }
  }

  &--inverse {
    color: var(--color-green);
    background-color: transparent;

    &::after {
      background-color: var(--color-green);
    }

    &:hover {
      color: var(--color-white);
    }
  }

  &--instagram {
    padding-left: rem-f(72);

    &::before {
      left: rem-f(38);
      mask-image: url("../img/sprite.svg#instagram");
    }
  }

  &--offers {
    padding: rem-f(10) rem-f(48) rem-f(10) rem-f(24);

    &::before {
      right: 20px;
      mask-image: url("../img/sprite.svg#arrow");
      width: 1rem;
      height: 1rem;
      rotate: -180deg;
    }
  }

  &--article {
    z-index: 10;
    padding: rem-f(10) rem-f(82);
    width: 100%;
    max-width: 100%;
    color: var(--color-white);
    background-color: var(--color-green);

    &::before {
      left: clamp(0.5rem, calc(0.5rem + vw(42)), 3.125rem);
      mask-image: url("../img/sprite.svg#cart");
    }

    &:hover {
      color: var(--color-white);
      background-color: var(--color-white);
    }
  }

  &--size {
    align-self: flex-end;
    border: 0;
    padding: rem-f(10) rem-f(10) rem-f(10) rem-f(24);
    color: var(--color-gray-800);
    background-color: var(--color-white);

    &::before {
      left: 0;
      mask-image: url("../img/sprite.svg#hanger");
      width: 1rem;
      height: 1rem;
    }

    &::after {
      background-color: transparent;
    }
  }

  &--favorite {
    padding: rem-f(10) rem-f(38) rem-f(10) rem-f(67);
    color: var(--color-green);
    background-color: var(--color-white);

    &::before {
      left: clamp(0.5rem, calc(0.3rem + 1.3vw), 1.5rem);
      mask-image: url("../img/sprite.svg#heart");
    }

    &::after {
      background-color: var(--color-green);
    }

    &:hover {
      color: var(--color-white);
    }

    @include for-width(-mobile-sl) {
      order: -1;
    }
  }

  &--cart {
    width: 100%;
    max-width: 100%;

    &::before {
      left: 88px;
      mask-image: url("../img/sprite.svg#card");
      width: 1rem;
      height: 1rem;
      background-color: currentcolor;
    }
  }
}

.btn-reset {
  border: none;
  padding: 0;
  color: inherit;
  background: transparent;
}

.slider-btn {
  @include flex-all-center;

  position: absolute;
  top: 50%;
  z-index: 2;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: var(--color-white);
  opacity: 0.6;
  transform: translateY(-50%);
  transition:
    opacity 0.3s linear,
    background-color 0.3s linear;

  &::before {
    @include mask;
    mask-image: url("../img/sprite.svg#arrow");
    width: 24px;
    height: 24px;
    background-color: var(--color-gray-800);
  }

  &:hover {
    opacity: 1;
  }

  &--reverse {
    &::before {
      transform: rotate(180deg);
    }
  }

  @include for-width(-tablet) {
    width: 35px;
    height: 35px;
  }
}

.slider-btn.swiper-button-disabled {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  &::before {
    background-color: transparent;
  }
}
