.btn {
  @include flex-all-center;

  position: relative;
  z-index: 1;
  overflow: hidden;
  border: 0.8px solid var(--color-green);
  border-radius: var(--br);
  padding: rem-f(10) clamp(1.5rem, calc(1rem + vw(24)), 2.5rem);
  max-width: fit-content;
  height: fit-content;
  font-weight: 700;
  // font-size: clamp(0.88rem, calc(0.85rem + 0.13vw), 1rem);
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.031em;
  white-space: nowrap;
  color: var(--color-white);
  background: var(--color-green);
  isolation: isolate;
  transition-property: color, background;
  transition-duration: 0.6s;
  transition-timing-function: linear;

  &::before {
    background-color: currentcolor;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    background-color: var(--color-white);
    transform: scale(1) translateY(67px);
    transition: scale 0.6s linear, transform 0.6s linear;
    inset: 0;
  }

  &:hover {
    color: var(--color-green);

    &::after {
      transform: scale(1.6) translateY(0);
    }
  }

  &--icon {
    color: var(--color-green);
    background-color: var(--color-white);

    &::before {
      @include mask-icon;
    }

    &::after {
      background-color: var(--color-green);
    }

    &:hover {
      color: var(--color-white);
    }
  }

  &--inverse {
    color: var(--color-green);
    background-color: transparent;

    &::after {
      background-color: var(--color-green);
    }

    &:hover {
      color: var(--color-white);
    }
  }

  &--instagram {
    padding-left: rem-f(72);

    &::before {
      left: rem-f(38);
      mask-image: url("../img/sprite.svg#instagram");
    }
  }

  &--offers {
    padding: rem-f(10) rem-f(48) rem-f(10) rem-f(24);

    &::before {
      right: 20px;
      mask-image: url("../img/sprite.svg#arrow");
      width: 1rem;
      height: 1rem;
      rotate: -180deg;
    }
  }

  &--article {
    padding: em(10) em(82);
    width: 100%;
    max-width: 100%;
    z-index: 10;

    &::before {
      left: clamp(0.5rem, calc(0.5rem + vw(42)), 3.125rem);
      mask-image: url("../img/sprite.svg#cart");
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  &--size {
    border: 0;
    padding: em(10) em(10) em(10) em(24);
    color: var(--color-gray-800);
    background-color: var(--color-white);
    align-self: flex-end;

    &::before {
      left: 0;
      mask-image: url("../img/sprite.svg#hanger");
      width: 1rem;
      height: 1rem;
    }

    &::after {
      background-color: transparent;
    }
  }

  &--favorite {
    padding: em(10) em(38) em(10) em(67);
    color: var(--color-green);
    background-color: var(--color-white);

    &::before {
      left: clamp(0.5rem, calc(0.3rem + 1.3vw), 1.5rem);
      mask-image: url("../img/sprite.svg#heart");
      width: 18px;
      height: 16px;
    }

    &::after {
      background-color: var(--color-green);
    }

    &:hover {
      color: var(--color-white);

      &::after {
        transform: scale(150%) translateY(0);
      }
    }

    @include for-width (-mobile-s) {
      order: -1;
    }
  }

  &--cart {
    width: 100%;
    max-width: 100%;

    &::before {
      mask-image: url("../img/sprite.svg#card");
      left: 88px;
      background-color: currentcolor;
      width: 1rem;
      height: 1rem;
    }
  }
}

.filter__btn {
  width: min(80%, 255px);
  max-width: inherit;
  align-self: center;
  z-index: 120;

  &::before {
    mask-image: url("../img/sprite.svg#filter-hide");
    left: clamp(1rem, calc(-0.3rem + 3.7vw), 4.1rem);
    width: 1rem;
    height: 1rem;

    @include for-width (-mobile-l) {
      left: 5px;
    }
  }

  &--show {
    &::before {
      mask-image: url("../img/sprite.svg#filter-show");
    }
  }

  @include for-width(-mobile-sl) {
    grid-column: 1 / span 2;
    width: 100%;
    max-width: 100%;
  }
}

.btn-reset {
  border: none;
  padding: 0;
  color: inherit;
  background: transparent;
}

.slider-btn {
  @include flex-all-center;

  position: absolute;
  top: 50%;
  z-index: 2;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: var(--color-white);
  opacity: 0.6;
  transform: translateY(-50%);
  transition:
    opacity 0.3s linear,
    background-color 0.3s linear;

  &::before {
    @include mask;
    mask-image: url("../img/sprite.svg#arrow");
    width: 24px;
    height: 24px;
    background-color: var(--color-gray-800);
    transition: background-color 0.3s linear;
  }

  &--reverse {
    &::before {
      transform: rotate(180deg);
    }
  }

  &:hover {
    opacity: 1;
  }

  @include for-width(-tablet) {
    width: 35px;
    height: 35px;
  }
}

.slider-btn.swiper-button-disabled {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  &::before {
    background-color: transparent;
  }
}
