.btn {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: fit-content;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: var(--br);
  padding: 0 em(40);
  font-weight: 700;
  line-height: 3.25;
  letter-spacing: 0.031em;
  color: var(--color-white);
  background-color: var(--color-green);
  transition-property: color, background-color, border-color;
  transition-duration: 0.6s;
  transition-timing-function: linear;
  overflow: hidden;

  &::after {
    background-color: var(--color-white);
    border-radius: 65%;
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    transform: scale(100%) translateY(67px);
    transition: transform 0.6s linear;
    width: 100%;
    max-width: 100%;
    z-index: -1;
  }

  &:hover {
    color: var(--color-green);
    border-color: var(--color-green);

    &::after {
      transform: scale(147%) translateY(0);
    }
  }

  &--inverse {
    border-color: var(--color-green);
    color: var(--color-green);
    background-color: transparent;

    &::after {
      background-color: var(--color-green);
    }

    &:hover {
      color: var(--color-white);
    }
  }

  &--instagram {
    padding: 0 em(40) 0 em(72);
    border-color: var(--color-green);
    color: var(--color-green);
    background-color: var(--color-white);

    &::before {
      content: "";
      position: absolute;
      left: 38px;
      mask-image: url("../img/sprite.svg#instagram");
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: cover;
      width: 24px;
      height: 24px;
      background-color: currentColor;
      transition: background-color 0.6s linear;
    }

    &::after {
      background-color: var(--color-green);
    }

    &:hover {
      color: var(--color-white);
      // background-color: var(--color-green);

      &::after {
        transform: scale(150%) translateY(0);
      }
    }
  }

  &--offers {
    padding: 0 em(48) 0 em(24);
    border-color: var(--color-green);
    color: var(--color-green);
    background-color: var(--color-white);

    &::before {
      content: "";
      position: absolute;
      right: 20px;
      mask-image: url("../img/sprite.svg#arrow");
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: cover;
      width: 16px;
      height: 16px;
      rotate: -180deg;
      background-color: currentColor;
      transition: background-color 6s linear;
    }

    &::after {
      background-color: var(--color-green);
    }

    &:hover {
      color: var(--color-white);
      background-color: var(--color-green);
    }
  }

  &--article {
    padding: 1px 32px;
    width: 100%;
    max-width: 100%;
    font-size: 14px;
    line-height: 3.14;
    z-index: 10;

    &::before {
      content: "";
      position: absolute;
      bottom: 17px;
      left: 48px;
      mask-image: url("../img/sprite.svg#cart");
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: cover;
      width: 16px;
      height: 16px;
      background-color: var(--color-white);
      transition: background-color 2s linear;
    }
  }

  // &--apple {
  //   padding: 0 14px 0 46px;
  //   background-color: var(--color-gray);

  //   &::before {
  //     content: "";
  //     position: absolute;
  //     bottom: 17px;
  //     left: 17px;
  //     mask-image: url("../img/sprite.svg#apple");
  //     mask-position: center;
  //     mask-repeat: no-repeat;
  //     mask-size: cover;
  //     width: 25px;
  //     height: 30px;
  //     background-color: var(--color-white);
  //     transition: background-color 2s linear;
  //   }
  // }
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
}

.slider-btn {
  @include flex-all-center;

  position: absolute;
  z-index: 2;
  width: 50px;
  height: 50px;
  background-color: var(--color-white);
  opacity: 0.6;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 0.3s linear, background-color 0.3s linear;

  &::before {
    content: "";
    position: absolute;
    mask-image: url("../img/sprite.svg#arrow");
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: cover;
    width: 24px;
    height: 24px;
    background-color: var(--color-gray-800);
    transition: background-color 0.3s linear;
  }

  &--reverse {

    &::before {
      transform: rotate(180deg);
    }

  }

  &:hover {
    opacity: 1;
  }



  // @include for-width(-mobile-l) {
  //   width: 20px;
  //   height: 20px;
  // }
}

.slider-btn.swiper-button-disabled {
  pointer-events: none;

  &::before {
    background-color: transparent;
  }
}

.offers-btn {
  @include flex-all-center;

  position: absolute;
  z-index: 10;
  width: 16px;
  height: 16px;
  background-color: transparent;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.9s linear opacity 0.9s linear;

  &::before {
    content: "";
    position: absolute;
    mask-image: url("../img/sprite.svg#chevron");
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: cover;
    width: 16px;
    height: 16px;
    background-color: var(--color-white);
    opacity: 0.6;
    transition: opacity 0.3s linear;
  }

  &--reverse {

    &::before {
      transform: rotate(180deg);
    }

  }

  &:hover::before {
    opacity: 1;
  }

  &__prev {
    left: 25%;
  }

  &__next {
    right: 25%;
  }
}
