.burger {
  @include burger;

  display: none;

  @include for-width(-mobile-l) {
    display: flex;
  }
}
.open .nav__list {
  transform: translate(0);
}

.closed .nav__list {
  transform: translateX(-100%);
}
