.cart {
  @include flex;
  gap: 8px;

  &__icon {
    width: 22px;
    height: 22px;
    fill: var(--color-gray-800);
  }

  &__count {
    @include flex-all-center;
    padding: 0px 8px 0px 8px;
    background-color: var(--color-green-100);
    color: var(--color-white);
    font-weight: 900;
    font-size: 12px;
    border-radius: var(--br);
    width: 23px;
    height: 20px;
  }
}
