.custom-select {
  position: relative;
  @include flex-col;
  gap: 10px;
  z-index: 15;
  width: min(70%, 352px);

  &--sort {
    flex-direction: inherit;
    align-items: center;

    width: min(70%, 235px);
  }

  &--rating {
    width: 100%;
    text-align: left;
  }
}

.choices {
  flex-grow: 1;
  border-radius: var(--br);
  border: 1px solid var(--color-gray-400);
  font-size: rem-f(14);

  .choices__inner {
    border: none;
    background-color: var(--color-white);
    border-radius: var(--br);
    padding: 0;
  }
}

.choices__list--single {
  padding: 12px 16px !important;
}

.choices__list--dropdown {
  border-color: var(--color-green);
}

.choices[data-type*="select-one"].choices__inner {
  padding-bottom: 0 !important;
}

.choices[data-type*="select-one"].choices__inner {
  padding: 12px 16px !important;
}

.choices[data-type*="select-one"]::after {
  --rotate: rotate(0);

  @include mask-small;
  mask-image: url("../img/sprite.svg#arrow-down");
  border: 0;
  margin: 0 !important;
  background-color: var(--color-gray-800);
  transition: transform 0.3s linear;
  top: 50%;
  transform: translateY(-50%) var(--rotate);
}

.choices[data-type*="select-one"].is-open::after {
  --rotate: rotate(-180deg);
  transform: translateY(-50%) var(--rotate);
  background-color: var(--color-green);
}

.choices[data-type*="select-one"].is-open {
  border-color: var(--color-green) !important;
}

.choices__list[aria-expanded] {
  border: 1px solid var(--color-green) !important;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  background-color: rgba(23, 105, 106, 0.22);
}

.choices__list--dropdown,
.choices__list[aria-expanded] {
  white-space: nowrap !important;
}
