.form {
  width: 100%;
  max-width: 100%;

  &__box {
    @include flex-col;

    // margin-bottom: rem-f(25);
    gap: rem-f(10);

    &--textarea {
      grid-column: 2 span;
    }

    &--btn {
      flex-direction: initial;
      justify-content: space-between;
       gap: rem-f(10);
    }
  }

  &__input {
    position: relative;
    outline: 0;
    border: 1px solid var(--color-gray-400);
    border-radius: var(--br);
    padding: rem-f(12) 0 rem-f(12) rem-f(16);
    width: 100%;
    background-color: var(--color-white);
    transition: border-color 0.3s linear;

    &::placeholder {
      color: var(--color-gray-600);
    }

    &:focus {
      border-color: var(--color-green);
    }

    &--file {
      position: absolute;
      z-index: 5;
      opacity: 0;
      cursor: pointer;
      inset: 0;
    }

    &--ratio {
      padding: 0;
      border: 0;
      align-self: baseline;
      margin-top: 8px;
      display: grid;
      place-content: center;
      border-radius: 100vw;
      width: 8px;
      height: 8px;
      background-color: var(--color-white);
      transition: background-color 120ms ease-in-out;
      cursor: pointer;

      &::before {
        content: "";
        border: 1px solid var(--color-gray-500);
        border-radius: 100vw;
        width: 1rem;
        height: 1rem;
        transition: 120ms border-color ease-in-out;
      }

      &:checked {
        background-color: var(--color-green);

        &::before {
          border-color: var(--color-green);
        }
      }
    }

    &--textarea {
      margin-bottom: clamp(1.5rem, calc(1rem + 1.77vw), 3.125rem);
      padding: em(10) 0 em(10) em(16);
      min-height: 107px;
      resize: none;
    }
  }

  // &__label {
  //   // top: -30px;
  // }

  &__text {
    margin-bottom: 3rem;
    font-weight: 700;
    font-size: rem-f(20);
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // grid-template-rows: repeat(4, 1fr);
    // display: flex;
    // flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 10px;

    .form__input--textarea {
      margin: 0;
    }
  }
}

.form-search {
  @include flex-a-center;

  position: relative;
  margin-right: clamp(0.5rem, calc(2.2vw + 0.5rem), 3rem);
  margin-left: auto;
  border: 1px solid var(--color-gray-400);
  border-radius: var(--br);
  width: min(80%, 385px);

  @include for-width(-desktop-s) {
    margin-left: 0;
    max-width: 280px;
  }

  @include for-width(-tablet) {
    max-width: 165px;
  }

  @include for-width(-mobile-sl) {
    display: none;

    &.open {
      position: absolute;
      display: flex;
      z-index: 999;
      border-color: var(--color-gray-400);
      max-width: 100%;
      animation: slide-up 0.3s forwards;

      .form-search__close {
        @include flex-all-center;
      }
    }
  }

  &__input {
    border-color: transparent;
    padding: em(12) 0 em(12) em(16);
    width: 100%;

    &::placeholder {
      font-size: rem-f(14);
      color: var(--color-gray-600);
    }

    &:focus {
      outline: none;
      box-shadow: 0 20px 20px -20px rgba(23, 105, 106, 0.16), 0px 26px 24px -10px rgba(23, 105, 106, 0.1),
        0px 12px 10px -6px rgba(23, 105, 106, 0.08), 0px 4px 4px -4px rgba(23, 105, 106, 0.05);
      background-color: var(--color-white);
    }

    @include for-width(-mobile-sl) {
      padding: em(12) 0 em(12) em(36);

      &::placeholder {
        color: transparent;
      }
    }
  }

  &__btn,
  &__close {
    @include flex-all-center;

    position: relative;
    right: 12px;
    z-index: 99;
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    background-color: transparent;
  }

  &__close {
    left: 12px;
    display: none;
  }

  &__icon {
    flex-shrink: 0;
    width: 1rem;
    height: 1rem;
    fill: var(--color-gray-800);
    transition: fill 0.3s linear;

    &:hover {
      fill: var(--color-green);
    }
  }
}

.form-subscribe {
  p {
    margin-bottom: 2rem;
  }
}

// переробити модалки//
.form-modal {
  display: flex;
  flex-direction: column;
  gap: 50px;

  .btn {
    margin-bottom: 24px;
    width: 100%;
    max-width: 100%;
  }

  &__box {
    position: relative;

    .form__label {
      left: 0;
    }

    &--password {
      @include flex-all-sb;
    }

    &--upload {
      @include flex-all-center;

      flex-direction: column;
      border: 2px dashed var(--color-gray-400);
      padding: rem-f(60) rem-f(24) rem-f(24);
      text-align: center;
      transition: border-color 0.3s linear;

      &::before {
        @include mask-icon;

        mask-image: url("../img/sprite.svg#upload");
        background-color: var(--color-gray-600);
        inset: 14px auto;
      }

      span {
        display: block;
        margin-bottom: 20px;
      }

      .btn {
        padding: 0 em(24);
        max-width: 122px;
        font-size: rem-f(12);
        user-select: none;
      }

      &:hover {
        border-color: var(--color-green);

        .btn {
          color: var(--color-white);

          &::after {
            transform: scale(160%) translateY(0);
          }
        }
      }
    }
  }
}

.custom-checkbox {
  @include custom-checkbox;
}

.show-password {
  @include flex-all-center;

  position: absolute;
  right: 0;
  top: 25%;

  &__label {
    position: relative;
    cursor: pointer;
  }

  &__input {
    position: relative;
    outline: none;
    cursor: pointer;

    &::before {
      @include mask-small;

      right: 14px;
      mask-image: url("../img/sprite.svg#eye");
      background-color: var(--color-gray-800);
      transition: mask-image 0.3s linear, background-color 0.3s linear;
    }

    &:checked::before {
      content: "";
      mask-image: url("../img/sprite.svg#closed-eye");
      background-color: var(--color-green);
    }

    &:hover::before {
      background-color: var(--color-green);
    }
  }
}

.product-form {
  margin-bottom: 3rem;

  .btn--article {
    max-width: 244px;

    @include for-width(-mobile-s) {
      max-width: 100%;
    }
  }

  &__list {
    @include flex-col;
    gap: 2rem;
  }

  &__item {
    &--select {
      @include flex-sb;
      align-items: end;
    }

    &--number {
      @include flex-all-sb;
      gap: clamp(0.8rem, calc(0.3rem + 1vw), 1.5rem);

      @include for-width(-mobile-s) {
        flex-wrap: wrap;
      }
    }
  }
}

.form-article {
  &__inner {
    @include flex-all-sb;

    margin-bottom: rem-f(20);
  }

  .checkboxes {
    margin: 0 1rem 0 0;
  }

  .checkboxes__label {
    padding: 8px;
    height: 24px;
    min-width: 24px;
    font-size: 0.7rem;
  }
}

// .checkout-form {
//   &__list {
//     counter-reset: my-awesome-counter;
//   }

//   &__item {
//     counter-increment: my-awesome-counter;

//     &::before {
//       content: counter(my-awesome-counter) ". ";
//       color: red;
//       font-weight: bold;
//     }

//   }
// }
