.languages {
  position: relative;
  transition: color 0.3s linear;

  &__span {
    @include flex-all-center;

    margin-bottom: 15px;
    position: relative;
    cursor: pointer;
    transition: color 0.3s linear;

    &::before {
      content: "";
      position: absolute;
      left: -28px;
      background-image: url("../img/languages/usa.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 20px;
      height: 12px;
    }

    &::after {
      --rotate: rotate(0);
      content: "";
      position: absolute;
      left: 50px;
      mask-image: url("../img/sprite.svg#arrow-down");
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: cover;
      width: 12px;
      height: 12px;
      top: 50%;
      background-color: currentColor;
      transform: translateY(-50%) var(--rotate);
      transition: background-color 0.3s linear, transform 0.3s linear;
    }

    &:hover {
      color: var(--color-white);
    }

    // &.open {
    //   &::after {
    //     background-color: var(--color-white);
    //   }
  }


  // &:active {
  //   &::after {
  //     --rotate: rotate(-180deg);

  //     transform: translateY(-50%) var(--rotate);
  //   }
  // }

  &__list {
    box-shadow: 0 1.75rem 1.875rem rgb(154 156 165 / 8%), 0 1.25rem 1rem rgb(154 156 165 / 5%),
      0 0.5rem 0.625rem rgb(154 156 165 / 4%), 0 0.25rem 0.25rem rgb(30 33 44 / 3%);
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background-color: var(--color-white);
    top: 80%;
    width: 130px;
    left: -30px;
    padding: 10px 10px;
    z-index: 999;
    margin: 0 auto;
    color: var(--color-gray-900);
    border-radius: var(--br);
    transition-property: opacity, visibility;
    transition-duration: 0.2s;
    transition-timing-function: ease;

    &.open {
      visibility: visible;
      opacity: 1;
    }

    // &.open + .languages__span::after {
    //   --rotate: rotate(-180deg);

    //   transform: translateY(-50%) var(--rotate);
    // }
  }

  &__item {
    // @include flex-all-center;
    // position: relative;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    // &::before {
    //   content: "";
    //   position: absolute;
    //   left: -28px;
    //   background-image: url("../img/languages/usa.png");
    //   background-position: center;
    //   background-repeat: no-repeat;
    //   background-size: cover;
    //   width: 20px;
    //   height: 12px;
    // }

    // &--fra {
    //   &::before {
    //     background-image: url("../img/languages/fr.png");
    //   }
    // }

    // &--de {
    //   &::before {
    //     background-image: url("../img/languages/de.png");
    //   }
    // }
  }

  a {
    @include flex-ar;
    transition: color 0.3s linear;

    &:hover {
      color: var(--color-green);
    }
  }
}
