.modal {
  margin: auto;
  border: 0;
  border-radius: var(--br);
  padding: clamp(0.5rem, calc(2.0792vw + 0.5rem), 3rem);
  width: min(90%, 486px);
  font-size: rem-f(14);
  text-align: center;
  background-color: var(--color-white);

  &--size {
    width: min(90%, 870px);

    .tabs {
      @include flex-col;
    }

    .tabs__nav {
      justify-content: center;
    }

    .tabs__panels {
      align-self: center;
    }

    @include for-width(-mobile-md) {
      width: 100%;
      padding: 1rem;

      .tabs__panels {
        align-self: flex-start;
      }
    }
  }

  &--review {
    &::before {
      content: none;
    }

    .custom-select {
      max-width: 100%;
    }
  }


  &::backdrop {
    background: rgba(30, 33, 44, 0.75);
  }

  &__title {
    margin-bottom: clamp(0.8rem, calc(0.8rem + vw(16)), 1.5rem);
    font-weight: 700;
    font-size: clamp(1.13rem, calc(-0.08rem + 6.02vw), 1.75rem);
  }

  &__text {
    margin-bottom: rem-f(24);
    font-size: rem-f(14);
    color: var(--color-gray-700);
  }

  &__link,
  .modal__btn {
    color: var(--color-green);
  }

  &__close {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 16px;
    height: 16px;
  }

  &__icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    fill: var(--color-gray-700);
    transition: fill 0.3s linear;

    &:hover {
      fill: var(--color-green);
    }
  }

  &__singup {
    margin-bottom: rem-f(48);
    text-align: left;
  }

  &__inner {
    .tabs__nav {
      justify-content: center;
    }

    .tabs__panel--active {
      flex-direction: column;
    }
  }

  &[open] {
    animation: slide-up 1000ms forwards, fade-in 1000ms forwards;

  }

  &[closing] {
    display: block;
    pointer-events: none;
    inset: 0;
    animation: fade-out 500ms forwards;
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(50%);
  }

  100% {
    transform: translateY(0%);
  }
}

.table__wrapper {
  overflow: scroll hidden;
  width: 100%;
}
