.singup {
  &__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 12px;
  }


  &__link {
    @include flex-all-center;

    position: relative;
    border-radius: var(--br);
    width: 32px;
    height: 32px;
    background-color: var(--color-gray-800);
    transition: background-color 0.3s linear;

    &::before {
      content: "";
      position: absolute;
      mask-image: url("../img/sprite.svg#facebook");
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: cover;
      width: 16px;
      height: 16px;
      background-color: var(--color-white);
    }

    &--fb {
      &::before {
        mask-image: url("../img/sprite.svg#facebook");
      }
    }

    &--in {
      &::before {
        mask-image: url("../img/sprite.svg#instagram");
      }
    }

    &--tw {
      &::before {
        mask-image: url("../img/sprite.svg#twitter");
      }
    }

    &--yt {
      &::before {
        mask-image: url("../img/sprite.svg#youtube");
      }
    }

    &--p {
      &::before {
        mask-image: url("../img/sprite.svg#pinterest");
      }
    }

    &:hover {
      background-color: var(--color-green);
    }
  }

}
