.single-reviews {

  width: 100%;
  max-width: 735px;

  &__content {
    @include flex-sb;

    margin-bottom: clamp(2rem, calc(0.5rem + 4vw), 5rem);
  }

  &__text {
    margin-right: clamp(2rem, calc(0.5rem + 4vw), 5rem);
    width: 100%;
    max-width: 235px;

    p {
      font-size: rem(14);
      color: var(--color-gray-700);
    }
  }

  &__title {
    position: relative;
    margin-bottom: rem(55);
    text-align: left;

    &::before {
      content: "";
      position: absolute;
      bottom: -1.8rem;
      background-image: url("../img/sprite.svg#rating-for");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 78px;
      height: 14px;
    }
  }

  &__sort {
    @include flex-sb;
    margin-bottom: 50px;
  }

  &__item {
    @include flex;

    position: relative;
    line-height: 1.6;
    gap: 30px;
    color: var(--color-gray-800);
    margin-bottom: 2rem;

   &:not(:last-child)::before {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: var(--color-gray-300);
    }

  }

  &__blockqoute {
    margin-bottom: 2rem;
  }

  &__author {
    @include flex-col;
    width: 100%;
    max-width: 150px;
    font-weight: 700;
    font-size: 18px;
    color: var(--color-gray-900);
  }

  &__time {
    position: relative;
    display: inline-block;
    padding-bottom: 20px;
    font-weight: 400;
    font-size: 14px;
    color: var(--color-gray-700);

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      background-image: url("../img/sprite.svg#rating-five");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 78px;
      height: 14px;
    }
  }

  &__vote {
    @include flex-all-sb;

    padding-top: 1rem;
  }

  &__btn {
    position: relative;
    padding-left: 25px;
    font-size: 14px;
    color: var(--color-gray-700);
    transition: color 0.3s linear;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      width: 16px;
      height: 16px;
      mask-image: url("../img/sprite.svg#share-arrow");
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: cover;
      background-color: currentcolor;
      transition: background-color 0.7s linear;
    }

    &:hover {
      color: var(--color-green);

      &::before {
        background-color: var(--color-green);
      }
    }
  }

}

.hide {
  /* You can play with the seconds to change the "animation" */
  animation: hide 0.5s ease forwards;
  display: none;
}

.show {
  /* You can play with the seconds to change the "animation" */
  animation: show 0.5s ease forwards;
  display: block;
}

@keyframes hide {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
