.wishlist {
  @include flex;

  gap: 8px;

  &__btn {
    @include flex-all-sb;

    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.0341em;
    padding: 8px 0;
    gap: 8px;
    transition: color 0.3s linear;

    .wishlist__icon {
      width: 1rem;
      height: 1rem;
      align-self: center;
    }

    &:hover {
      color: var(--color-green);

      .wishlist__icon {
        fill: var(--color-green);
      }
    }
  }


  &__icon {
    width: 20px;
    height: 20px;
    fill: var(--color-gray-800);
    transition: fill 0.3s linear;

    &:hover {
      fill: var(--color-green);
    }
  }
}
