.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: var(--br);
  padding: 0 em(40);
  font-weight: 700;
  line-height: 3.25;
  letter-spacing: 0.031em;
  color: var(--color-white);
  background-color: var(--color-green);
  transition-property: color, background-color, border-color;
  transition-duration: 0.3s;
  transition-timing-function: linear;

  &:focus {
    outline: 2px solid var(--color-active);
    outline-offset: 2px;
  }

  &:hover {
    background-color: var(--color-orange-100);
  }

  &:active {
    background-color: var(--color-active);
  }

  &--inverse {
    border-color: var(--color-green);
    color: var(--color-green);
    background-color: transparent;

    &:hover {
      color: var(--color-white);
      background-color: var(--color-red);
    }
  }

  &--instagram {
    padding: 0 em(40) 0 em(72);
    border-color: var(--color-green);
    color: var(--color-green);
    background-color: var(--color-white);

    &::before {
      content: "";
      position: absolute;
      left: 38px;
      mask-image: url("../img/sprite.svg#instagram");
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: cover;
      width: 24px;
      height: 24px;
      background-color: var(--color-green);
      transition: background-color 2s linear;
    }
  }

  &--article {
    padding: 1px 32px;
    width: 100%;
    max-width: 100%;
    font-size: 14px;
    line-height: 3.14;

    &::before {
      content: "";
      position: absolute;
      bottom: 17px;
      left: 48px;
      mask-image: url("../img/sprite.svg#cart");
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: cover;
      width: 16px;
      height: 16px;
      background-color: var(--color-white);
      transition: background-color 2s linear;
    }
  }

  // &--apple {
  //   padding: 0 14px 0 46px;
  //   background-color: var(--color-gray);

  //   &::before {
  //     content: "";
  //     position: absolute;
  //     bottom: 17px;
  //     left: 17px;
  //     mask-image: url("../img/sprite.svg#apple");
  //     mask-position: center;
  //     mask-repeat: no-repeat;
  //     mask-size: cover;
  //     width: 25px;
  //     height: 30px;
  //     background-color: var(--color-white);
  //     transition: background-color 2s linear;
  //   }
  // }
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
}

.slider-btn {
  @include flex-all-center;

  position: absolute;
  z-index: 10;
  width: 50px;
  height: 50px;
  background-color: var(--color-white);
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: 50%;
  top: 50%;
  // left: 32px;
  transform: translateY(-50%);
  transition: background-color 3s linear;

  &::before {
    content: "";
    position: absolute;
    mask-image: url("../img/sprite.svg#arrow");
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: cover;
    width: 24px;
    height: 24px;
    background-color: var(--color-gray);
    transition: background-color 2s linear;

    // @include for-width(-mobile-l) {
    //   width: 20px;
    //   height: 20px;
    // }
  }

  &--reverse {
    // right: 32px;

    &::before {
      transform: rotate(180deg);

      // @include for-width(-mobile-l) {
      //   width: 20px;
      //   height: 20px;
      // }
    }

    // @include for-width(-mobile-l) {
    //   right: 30px;
    // }
  }

  &:hover {
    background-color: var(--color-green);

    &::before {
      background-color: var(--color-white);
    }
  }

  // @include for-width(-mobile-l) {
  //   width: 20px;
  //   height: 20px;
  // }
}

.slider-btn.swiper-button-disabled {
  pointer-events: none;

  &::before {
    background-color: transparent;
  }
}
