.header {
  position: absolute;
  z-index: 2;
  top: 0;
  width: 100%;
  margin-bottom: 10px;

  &__inner {
    @include flex-all-sb;

    padding: 10px 15px;
  }

  &__middle {
    padding: 20px 0;
    background-color: var(--color-white);
  }

  &__link {
    font-weight: 900;
    transition: color 0.3s linear;

    span {
      font-weight: 400;
    }

    &:is(:hover, :active) {
      color: var(--color-white);
    }
  }

  &__action {
    @include flex;

    gap: 20px;
  }

  &__wrapper {
    @include flex-all-sb;
  }

  &__users {
    @include flex;
    gap: 60px;
  }

  &__bottom {
    display: grid;
    place-items: center;
    padding: 8px 0;

    background-color: var(--color-green);
    color: var(--color-white);
    text-align: center;
  }

  // &__logo {
  //   position: absolute;
  //   left: 0;
  //   right: 0;
  //   top: 50%;
  //   transform: translateY(-155%);
  //   margin: 0 auto;
  //   width: 100%;
  //   max-width: 381px;
  // }

  // &__link {
  //   @include flex-a-center;

  //   position: relative;
  //   isolation: isolate;
  //   padding: em(5) em(5) em(5) em(55);
  //   background-color: var(--color-grey-100);
  //   text-transform: uppercase;
  //   color: var(--color-red);
  //   font-weight: 600;
  //   font-size: 14px;
  //   line-height: 2.1;

  //   &::before {
  //     content: "";
  //     position: absolute;
  //     left: 5px;
  //     background-image: url("../img/sprite.svg#rings");
  //     background-position: center;
  //     background-repeat: no-repeat;
  //     background-size: cover;
  //     width: 33px;
  //     height: 29px;
  //     background-color: var(--color-red);

  //   }
  // }
}



.offers-slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 530px;

  &__item {
    font-weight: 900;
    font-size: 12px;

    a {
      position: relative;
      padding-left: 4px;
      font-weight: 400;
      transition: color 0.3s linear;

      &::before {
        content: "";
        position: absolute;
        bottom: -1px;
        width: 100%;
        height: 0.8px;
        background-color: currentcolor;
        transition: background-color 0.3s linear;
      }

      &:hover {
        // color: var(--color-green);

        &::before {
          background-color: transparent;
        }
      }
    }
  }
}

.header-top {
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--color-gray-900);
  font-size: 14px;

  &__inner {
    @include flex-all-sb;

    padding: 10px 15px;
  }

  &__list {
    @include flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: clamp(15px, 2rem, 35px);
    }
  }

  &__link {
    transition: color 0.3s linear;

    &:is(:hover, :active) {
      color: var(--color-white);
    }
  }
}
