.single {
  &__content {
    @include flex-sb;

    margin-bottom: rem(32);
  }

  &__product {
    margin-right: 1rem;
    overflow: hidden;
    width: min(80%, 610px);

    @include for-width(-mobile-l) {
      margin: 0 auto;
      width: 100%;
      max-width: 610px;
    }
  }

  &__desc {
    width: min(80%, 525px);

    @include for-width(-mobile-l) {
      margin: 0 auto;
      width: 100%;
      max-width: fit-content;
    }
  }

  &__side {
    @include flex-all-sb;
    margin-bottom: 12px;
  }

  &__price {
    display: inline-flex;
    align-items: center;
    font-weight: 700;
    gap: 8px;

    &-current {
      font-size: 24px;
      color: var(--color-red);
    }

    &-old {
      margin-right: rem(33);
      font-weight: 400;
      font-size: 18px;
      color: var(--color-gray-700);
      text-decoration: line-through;
    }
  }

  &__sale {
    padding: 1px 8px;
    color: var(--color-white);
    background-color: var(--color-red);
    border-radius: var(--br);
  }

  &__reviews {
    position: relative;
    font-size: 14px;
    color: var(--color-gray-700);

    &::before {
      content: "";
      position: absolute;
      top: -4px;
      left: -4px;
      background-image: url("../img/sprite.svg#rating-for");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 78px;
      height: 14px;
    }

    span {
      display: block;
      padding-top: 10px;
    }
  }
}

.single-slider {
  position: relative;
  margin-bottom: rem(32);

  &__item {
    border-radius: var(--br);
    cursor: zoom-in;
  }

  &__link {
    @include flex-all-center;

    &::before {
      content: "";
      position: absolute;
      mask-image: url("../img/sprite.svg#play");
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: cover;
      width: 55px;
      height: 55px;
      background-color: var(--color-white);
      transition: background-color 0.6s linear;
    }

    &:hover::before {
      background-color: var(--color-green);
    }
  }

  &__img {
    border-radius: var(--br);
  }

  &__next {
    right: 32px;
  }

  &__prev {
    left: 32px;
  }
}

.single-slider__nav {
  margin: 0;
  .single-slider__list {
    @include flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .single-slider__item {
    position: relative;
    border: 1px solid transparent;
    border-radius: var(--br);
    transition: border-color 0.3s linear;
    max-width: fit-content;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      border-radius: var(--br);
      background-color: var(--color-gray-900);
      opacity: 0.6;
      transition: opacity 0.3s linear background-color 0.3s linear;
      inset: 0;
    }

    &.swiper-slide-thumb-active {
      border-color: var(--color-green);

      &::before {
        background-color: transparent;
        opacity: 1;
      }
    }
  }

  .single-slider__link {
    pointer-events: none;

    &::before {
      width: 32px;
      height: 32px;
    }
  }
}
