.contacts {
  .tabs {
    flex-wrap: wrap;
    gap: 1rem;
  }

  .tabs__nav {
    align-items: flex-start;
    margin: 0;
    flex-direction: column;
    flex-basis: 170px;
    flex-grow: 999;

    gap: 20px;

    &::before {
      content: none;
    }
  }

  .tabs__link {
    padding: 0;
    border: 0;
  }

  .tabs__panels {
    flex-basis: 810px;
    flex-grow: 1;
  }

  &__text {
    margin-bottom: 2rem;
    font-weight: 700;
    font-size: rem-f(20);
  }

  &__list {
    margin-bottom: 60px;
  }

  &__item {
    @include flex-a-center;

    position: relative;
    padding-left: 25px;

    &:not(:last-child) {
      margin-bottom: 12px;
    }

    &::before {
      @include mask;
      width: 20px;
      height: 20px;
      left: 0;
      mask-image: url("../img/sprite.svg#phone");
      background-color: var(--color-green);
    }

    &--phone {
      &::before {
        mask-image: url("../img/sprite.svg#phone");
      }
    }

    &--email {
      &::before {
        mask-image: url("../img/sprite.svg#mail");
      }
    }

    &--messenger {
      &::before {
        mask-image: url("../img/sprite.svg#messenger");
      }
    }

    &--twitter {
      &::before {
        mask-image: url("../img/sprite.svg#twitter");
      }
    }

    &--schedule {
      &::before {
        mask-image: url("../img/sprite.svg#clock");
      }
    }

    &--location {
      &::before {
        mask-image: url("../img/sprite.svg#map");
      }
    }
  }

  &__link {
    transition: color 0.3s linear;

    &:hover {
      color: var(--color-green);
    }
  }
}

.stores {
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 50px;
  }

  .contacts__list {
    margin-bottom: 0;
  }
}

.stores-card {
  @include flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  border: 1px solid var(--color-gray-300);
  border-radius: var(--br);

  &__box {
    img {
      border-radius: 4px 4px 0 0;
    }
  }

  &__content {
    padding: 24px 63px 32px 24px;
    background-color: var(--color-white);

    h3 {
      margin-bottom: rem-f(24);
      text-align: left;
    }
  }
}
