.checkout {
  &__content {
    width: min(80%, 735px);
    margin-bottom: 64px;
  }

  &__text {
    @include flex-all-sb;
    margin-bottom: 2rem;
  }

  &__title {
    margin: 0;
  }

  &__link {
    font-weight: 700;
  }

  .accordion__item {
    summary {
      @include flex;
      gap: 15px;
    }
  }
}

.alert {
  border-radius: var(--br);
  border: 1px solid rgba(23, 105, 106, 0.25);
  padding: 16px 0 16px 20px;
  background-color: rgba(23, 105, 106, 0.06);
  color: var(--color-green);
}

.checkout-form {
  &__wrapper {
    @include flex-sb;

    flex-wrap: wrap;
    align-items: flex-start;
    gap: 1rem;
  }

  &__list {
    counter-reset: --counter;
    flex-basis: 735px;
  }

  &__item {
    counter-increment: --counter;
    position: relative;

    &::before {
      content: counter(--counter) ". ";
      font-weight: 700;
      font-size: rem-f(24);
      line-height: 1.3;
    }

    &:not(:last-child) {
      padding: 2rem 0;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 1px;
        background-color: var(--color-gray-300);
      }
    }

    .accordion__content {
      padding-top: 1.5rem;
    }

    .accordion__item summary {

      &::before,
      &::after {
        content: none;
      }
    }
  }

  &__aside {
    position: sticky;
    top: 10%;
    flex-basis: 390px;
    margin-top: -190px;
  }

  &__title {
    display: inline-block;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: rem-f(24);
    line-height: 1.3;
  }
}

.check-order {
  // margin-top: 1.5rem;
  padding: 1.5rem;
  border-radius: var(--br);
  background-color: var(--color-gray-200);

  &__list {}

  &__item {
    @include flex-sb;
  }
}

.shipping-adders {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 40px;
  column-gap: var(--grid-gap);
}

.shipping-method {
  display: grid;
  gap: 1rem;

  &__item {
    @include flex-a-center;
    padding-left: 30px;
    position: relative;
    gap: 12px;
  }

  &__input {
    position: absolute;
    left: 0;
    top: 8px;
    display: grid;
    place-content: center;
    border-radius: 100vw;
    width: 8px;
    height: 8px;
    background-color: var(--color-white);
    transition: background-color 120ms ease-in-out;
    cursor: pointer;

    &::before {
      content: "";
      border: 1px solid var(--color-gray-500);
      border-radius: 100vw;
      width: 1rem;
      height: 1rem;
      transition: 120ms border-color ease-in-out;
    }

    &:checked {
      background-color: var(--color-green);

      &::before {
        border-color: var(--color-green);
      }
    }
  }

  &__label {
    position: relative;
    @include flex-col;

    font-weight: 700;
    line-height: 1.6;
    color: var(--color-gray-800);
    cursor: pointer;
  }

  &__price {
    margin-left: auto;
  }

  &__time {
    font-weight: 400;
    line-height: 1.6;
    color: var(--color-gray-700);
  }
}

.credit-card {
  width: 100%;
  max-width: 390px;
  padding: rem-f(44) rem-f(24) rem-f(24);
  border: 1px solid var(--color-gray-300);
  border-radius: var(--br);

  &__type {
    text-transform: capitalize;
  }
}
