.checkout {
  &__content {
    max-width: 60%;
    width: 100%;
    margin-bottom: 64px;

    @include for-width (-mobile-l) {
      max-width: 100%;
    }
  }

  &__text {
    @include flex-all-sb;
    margin-bottom: 2rem;
  }

  &__title {
    margin: 0;
  }

  &__link {
    font-weight: 700;
  }

  .form__label {
    @include flex-col;

    font-weight: 700;
    line-height: 1.6;
    color: var(--color-gray-800);
    cursor: pointer;
  }

  .cart-preview__list {
    padding: 1.5rem;
    border-radius: var(--br);
    background-color: var(--color-gray-200);
  }

  .cart-preview__item {
    align-items: flex-start;
  }
}

.alert {
  border-radius: var(--br);
  border: 1px solid rgba(23, 105, 106, 0.25);
  padding: 16px 0 16px 20px;
  background-color: rgba(23, 105, 106, 0.06);
  color: var(--color-green);
}



.check-order {
  // margin-top: 1.5rem;
  padding: 1.5rem;
  border-radius: var(--br);
  background-color: var(--color-gray-200);

  &__list {}

  &__item {
    @include flex-sb;
  }
}

.shipping-adders {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--grid-gap);

  @include for-width (-mobile-sl) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.shipping-method {
  display: grid;
  gap: 1rem;

  &__item {
    @include flex-a-center;
    gap: 12px;
  }

  // &__input {
  //   align-self: baseline;
  //   margin-top: 8px;
  //   display: grid;
  //   place-content: center;
  //   border-radius: 100vw;
  //   width: 8px;
  //   height: 8px;
  //   background-color: var(--color-white);
  //   transition: background-color 120ms ease-in-out;
  //   cursor: pointer;

  //   &::before {
  //     content: "";
  //     border: 1px solid var(--color-gray-500);
  //     border-radius: 100vw;
  //     width: 1rem;
  //     height: 1rem;
  //     transition: 120ms border-color ease-in-out;
  //   }

  //   &:checked {
  //     background-color: var(--color-green);

  //     &::before {
  //       border-color: var(--color-green);
  //     }
  //   }
  // }

  // &__label {
  //   @include flex-col;

  //   font-weight: 700;
  //   line-height: 1.6;
  //   color: var(--color-gray-800);
  //   cursor: pointer;
  // }

  &__price {
    margin-left: auto;
  }

  &__time {
    font-weight: 400;
    line-height: 1.6;
    color: var(--color-gray-700);
  }
}

.credit-card__type {
  display: contents;
  text-transform: capitalize;
  color: var(--color-green);
}

.checkout-order {
  padding: 1.5rem;
  border-radius: var(--br);
  background-color: var(--color-gray-200);
  font-weight: 700;
  line-height: 1.6;

  &__list {
    position: relative;
    padding: 1.5rem 0;
    margin-bottom: 1.25rem;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: var(--color-gray-300);
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }
  }

  &__total {
    @include flex-sb;
  }
}
