.single-blog {
  &__wrapper {
    max-width: 840px;
  }

  &__content {
    @include flex-sb;
    margin-bottom: clamp(2rem, calc(1rem + vw(44)), 3.75rem);

    .blog-article__information {
      a {
        color: var(--color-green);
      }
    }

    @include for-width (-mobile-md) {
      flex-direction: column;
      justify-content: center;
    }
  }
}

.blog-post {
  img {
    margin-bottom: 2rem;
    border-radius: var(--br);
  }

  p {
    color: var(--color-gray-800);

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }

  &__title {
    margin-bottom: 1.5rem;
    font-weight: 700;
    font-size: rem-f(20);
  }

  &__text {
    margin-bottom: clamp(1.5rem, calc(1rem + vw(32)), 3rem);
  }

  &__blockqote {
    position: relative;
    margin-bottom: clamp(1.5rem, calc(1rem + vw(32)), 3rem);
    padding-left: rem-f(58);

    &::before {
      @include mask;

      left: 0;
      top: 0;
      mask-image: url("../img/sprite.svg#quotes");
      width: 28px;
      height: 20px;
      background-color: var(--color-green);
    }
  }

  &__list {
    @include flex-col;

    margin-bottom: 1.5rem;
    gap: 4px;

    li {
      position: relative;
      padding-left: 2rem;

      &::before {
        @include mask;

        left: 0;
        mask-image: url("../img/sprite.svg#check-list");
        width: 1rem;
        height: 1rem;
        background-color: var(--color-green);
      }
    }
  }

  &__footer {
    @include flex-all-sb;
    padding-top: clamp(1.2rem, calc(1rem + vw(34)), 2.5rem);

    .item-title {
      margin-bottom: 0;
    }

    @include for-width (-mobile-l) {
      flex-direction: column;
      gap: 1.5rem;
    }
  }

  &__tags,
  &__social {
    @include flex;
    gap: 12px;
  }

}
