.single-reviews {
  @include flex-sb;
  position: relative;
  gap: 1rem;

  &__inner {
    width: 100%;
    max-width: 735px;
  }

  &__content {
    @include flex-sb;

    margin-bottom: clamp(2rem, calc(0.5rem + 4vw), 5rem);

    @include for-width(-mobile-sl) {
      display: grid;
      place-content: center;
      gap: 2rem;
    }
  }

  &__text {
    margin-right: clamp(2rem, calc(0.5rem + 4vw), 5rem);
    width: min(80%, 235px);

    p {
      font-size: rem-f(14);
      color: var(--color-gray-700);
    }

    @include for-width(-mobile-sl) {
      margin: 0;
      width: 100%;
      text-align: center;
    }
  }

  &__title {
    position: relative;
    margin-bottom: clamp(2.5rem, calc(0.5rem + 2.7vw), 3.75rem);
    text-align: left;

    &::before {
      content: "";
      position: absolute;
      bottom: -1.8rem;
      width: 78px;
      height: 14px;
      background-image: url("../img/sprite.svg#rating-for");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  &__sort {
    @include flex-sb;

    margin-bottom: clamp(1.5rem, calc(1rem + vw(32)), 3rem);
  }

  &__item {
    @include flex;

    position: relative;
    margin-bottom: clamp(1rem, calc(1rem + 1vw), 2rem);
    line-height: 1.6;
    color: var(--color-gray-800);
    gap: var(--grid-gap);

    &:not(:last-child)::before {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: var(--color-gray-300);
    }

    @include for-width(-tablet) {
      flex-direction: column;
    }
  }

  &__blockqoute {
    margin-bottom: clamp(1rem, calc(1rem + 1vw), 2rem);

    a {
      transition: color 0.5s linear;

      &:hover {
        color: var(--color-green);
      }
    }
  }

  &__author {
    @include flex-col;

    width: 100%;
    max-width: 150px;
    font-weight: 700;
    font-size: rem-f(18);
    color: var(--color-gray-900);
  }

  &__time {
    position: relative;
    display: inline-block;
    padding-bottom: rem-f(20);
    font-weight: 400;
    font-size: rem-f(14);
    color: var(--color-gray-700);

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      width: 78px;
      height: 14px;
      background-image: url("../img/sprite.svg#rating-five");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  &__vote {
    @include flex-all-sb;

    padding-top: 1rem;
  }

  &__btn {
    position: relative;
    padding-left: rem-f(25);
    font-size: rem-f(14);
    color: var(--color-gray-700);
    transition: color 0.3s linear;

    &::before {
      @include mask-small;

      left: 0;
      mask-image: url("../img/sprite.svg#share-arrow");
      background-color: currentcolor;
    }

    &:hover {
      color: var(--color-green);

      &::before {
        background-color: var(--color-green);
      }
    }
  }

  @include for-width(-mobile-l) {
    flex-direction: column;
    align-items: center;
  }
}
