.catalog {
  &__nav {
    @include flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    gap: clamp(1rem, calc(0.3rem + 2.8vw), 3.8rem);

    @include for-width(-mobile-l) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }

    .pagination {
      margin-left: auto;

      @include for-width(-mobile-l) {
        grid-column: 1 / span 2;
        margin: 0;
      }
    }
  }

  &__sort {
    @include flex-a-center;
    flex: 0 0 auto;
    width: 45%;
    gap: clamp(1rem, calc(0.5rem + 2.708vw), 3.8rem);

    .custom-select__label {
      @include for-width(-tablet) {
        font-size: 0;
      }
    }

    @include for-width(-mobile-l) {
      width: 100%;
    }
  }

  &__wrapper {
    position: relative;
    @include flex;
    gap: clamp(1rem, calc(0.5rem + 2.7vw), 3.8rem);

    @include for-width(-mobile-md) {
      justify-content: center;

      &::before {
        content: "";
        position: absolute;
        width: 0;
        z-index: 95;
        inset: 0;
        background-color: rgba(30, 33, 44, 0.75);
      }
    }

    &.active::before {
      width: 100%;
    }
  }

  &__content {
    --catalog-grid: 3;
    display: grid;
    grid-template-columns: repeat(var(--catalog-grid), 1fr);
    gap: var(--grid-gap);
    // flex: 1 0 0%;
    animation: fade-in 0.6s ease-in-out forwards;

    @include for-width(-tablet) {
      --catalog-grid: 2;
    }

    @include for-width(-mobile-md) {
      --catalog-grid: 1;
    }

    &.active {
      --catalog-grid: 4;
      animation: show 0.9s ease-in-out forwards;

      @include for-width(-tablet) {
        --catalog-grid: 3;
      }

      @include for-width(-mobile-md) {
        --catalog-grid: 1;
      }
    }
  }
}
