.filter {
  width: min(90%, 265px);
  padding: 5px;
  z-index: 110;
  background-color: var(--color-white);

  @include for-width(-mobile-md) {
    position: absolute;
    left: 0;
    width: 260px;
    height: fit-content;
    border: 1px solid var(--color-green);
  }

  &__list {
    @include flex-col;
    gap: rem-f(40);
  }

  &__item {
    .form-search {
      margin-bottom: 1.5rem;
      width: 100%;
      max-width: 100%;
      display: flex;
    }
  }

  &__btn {
    width: min(80%, 255px);
    max-width: inherit;
    align-self: center;
    z-index: 120;

    &::before {
      mask-image: url("../img/sprite.svg#filter-hide");
      left: clamp(1rem, calc(-0.3rem + 3.7vw), 4.1rem);
      width: 1rem;
      height: 1rem;

      @include for-width(-mobile-l) {
        left: 5px;
      }
    }

    &--show {
      &::before {
        mask-image: url("../img/sprite.svg#filter-show");
      }
    }

    @include for-width(-mobile-sl) {
      grid-column: 1 / span 2;
      width: 100%;
      max-width: 100%;
    }
  }
}

.filter-group {
  &__list {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    gap: 8px;

    &--color {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 8px;
      place-content: center;

      .color-picker__input {
        width: 24px;
        height: 24px;

        &::before {
          width: 2rem;
          height: 2rem;
        }
      }

      .filter-group__item {
        @include flex-col;
        align-items: center;
        gap: 5px;
        margin: 0;
      }

      @include for-width (-tablet) {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }

  &__item {
    @include flex-a-center;
    gap: 8px;
    white-space: nowrap;
    cursor: pointer;

    .custom-checkbox__content::before {
      background-color: var(--color-white);
      border: 1px solid var(--color-gray-500);
    }

    .custom-checkbox__field:checked+.custom-checkbox__content::before {
      background-color: var(--color-green);
    }
  }
}
