.page {
  min-height: 100vh;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-gray-900);
  background-color: var(--color-white);
  scroll-behavior: smooth;
  overscroll-behavior-y: none;
  color-scheme: light dark;

  &__body {
    min-width: 320px;
    min-height: 100%;
    // scrollbar-width: thin;
    // scrollbar-color: var(--color-green) var(--color-white);

    // &::-webkit-scrollbar {
    //   width: 6px;
    //   height: 6px;
    // }

    // &::-webkit-scrollbar-track {
    //   box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    // }

    // &::-webkit-scrollbar-thumb {
    //   background-color: var(--color-green);
    //   outline: 1px solid slategrey;
    // }
  }
}

// .main {
//   padding-top: calc(var(--header-height));
// }

.site-container {
  @include footerToBottom;
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  width: 100%;
  max-width: var(--container-width);

  &--wrapper {
    max-width: var(--wrapper-width);
  }
}

.section {
  margin-bottom: clamp(2rem, calc(2rem + 8.45vw), 11.25rem);
}

.logo {
  @include flex-all-center;

  flex-shrink: 0;
  margin-right: clamp(1rem, calc(0.5rem + 2.7vw), 3.75rem);

  @include for-width(-mobile-sl) {
    &.hidden {
      display: none;
    }
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.input-reset {
  border-color: transparent;
  padding: 15px 30px;
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  background-color: transparent;

  &::placeholder {
    color: var(--color-gray);
  }
}

.checkboxes {
  @include flex;

  gap: 12px;
  margin-bottom: rem(52);
  border: none;
  padding: 0;

  &__label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    font-weight: 700;
    color: var(--color-gray-700);
    background-color: var(--color-white);
    padding: rem(6) rem(16);
    border-width: 1px;
    border-style: solid;
    border-color: var(--color-gray-400);
    border-radius: var(--br);
    transition-property: color, background-color, border-color;
    transition-duration: 0.3s;
    transition-timing-function: linear;

    &:is(:hover, :focus) {
      border-color: var(--color-green);
    }
  }

  input[type="radio"]:checked + .checkboxes__label {
    border-color: var(--color-green);
    color: var(--color-white);
    background-color: var(--color-green);
  }
}

.login {
  &__btn {
    @include flex-all-center;

    position: relative;
    transition: 0.3s color linear;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-60%);
      left: -23px;
      mask-image: url("../img/sprite.svg#profile");
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: cover;
      width: 16px;
      height: 16px;
      background-color: currentColor;
      transition: background-color 0.6s linear;
    }

    @include for-width(-mobile-l) {
      font-size: 0;
    }

    &:hover {
      color: var(--color-white);
    }
  }
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;

  &::before {
    --vh: 100%;
    content: "";
    position: absolute;
    // top: 0;
    z-index: 95;
    width: 100%;
    // height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background-color: rgba(30, 33, 44, 0.75);
  }
}

.offers-slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 530px;

  &__item {
    font-weight: 900;
    font-size: 12px;

    a {
      padding-left: 4px;
      font-weight: 400;
    }
  }

  .offers-btn {
    opacity: 0;
    transition: opacity 0.3s liner;
  }

  &:hover .offers-btn {
    opacity: 1;
  }
}

.countdown {
  padding-top: clamp(2rem, calc(1rem + 3.3vw), 5rem);

  &__list {
    @include flex;
    gap: 24px;
  }

  &__item {
    @include flex-all-center;

    flex-direction: column;
    font-weight: 700;
    font-size: 28px;
  }

  &__label {
    font-weight: 400;
    font-size: 14px;
  }
}

.return__list {
  list-style-type: disc;

  li {
    padding-left: 16px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 4px;
      height: 4px;
      background-color: var(--color-green);
      border-radius: 50%;
    }
  }
}

.share {
  display: inline-flex;
  align-items: center;
  margin-bottom: rem(60);
  gap: 16px;
}

.payment__list {
  display: inline-flex;
  gap: rem(24);
}

@keyframes slide-up {
  0% {
    transform: translateY(-5%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.carousel {
  position: relative;
  width: 390px;
  height: 440px;

  &__item {
    height: 440px;
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;

    &[data-active] {
      opacity: 1;
      z-index: 1;
      transition-delay: 0ms;
    }
  }

  &-btn {
    display: inline-flex;
    align-items: center;
    position: absolute;
    isolation: isolate;
    left: 1rem;
    z-index: 2;
    top: 50%;

    &::before {
      content: "";
      position: absolute;
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: cover;
      background-color: var(--color-gray-800);
      transition: background-color 0.3s linear;
      mask-image: url("../img/sprite.svg#chevron");
      width: 18px;
      height: 18px;
    }

    &--reverse {
      left: auto;
      right: 1rem;
      rotate: 180deg;
    }

    &:hover::before {
      background-color: var(--color-white);
    }
  }

  .article__img {
    min-height: 440px;
  }
}

.list {
  li {
    position: relative;
    padding-left: 1rem;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      border-radius: 100vw;
      width: 4px;
      height: 4px;
      background-color: var(--color-green);
      transform: translateY(-50%);
    }
  }
}

.rating {
  // &__list {
  //   margin-right: rem(105);
  // }

  &__item {
    @include flex-all-center;

    position: relative;
    font-size: 14px;
    color: var(--color-gray-700);

    &::before {
      content: "";
      position: absolute;
      left: 10px;
      mask-image: url("../img/sprite.svg#star");
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: cover;
      width: 12px;
      height: 12px;
      background-color: currentcolor;
    }

    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  &__progress {
    margin: 0 16px 0 30px;
    appearance: none;
    height: 4px;
    width: 365px;
    border: none;
    border-radius: 40px;
    background-color: var(--color-gray-300);

    &--five {
      --bg-color: #03cea4;
    }

    &--four {
      --bg-color: #1fdf58;
    }

    &--three {
      --bg-color: #f2ea2b;
    }

    &--two {
      --bg-color: #f89828;
    }

    &--one {
      --bg-color: #ff4242;
    }

    &[value]::-webkit-progress-bar {
      background-color: var(--color-gray-300);
      border-radius: 40px;
    }

    &[value]::-webkit-progress-value {
      background-color: var(--bg-color, currentcolor);
      border-radius: 40px 0 0 40px;
    }

    &[value]::-moz-progress-bar {
      background-color: var(--bg-color, currentcolor);
      border-radius: 40px 0 0 40px;
    }
  }
}

.vote {
  &__list {
    @include flex;
  }

  &__item {
    @include flex-all-sb;

    &:not(:last-child) {
      margin-right: 2.2rem;
    }
  }

  &__btn {
    position: relative;
    isolation: isolate;

    &::before {
      content: "";
      left: -20px;
      transform: translateY(-50%);
      position: absolute;
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: cover;
      mask-image: url("../img/sprite.svg#like");
      width: 16px;
      height: 16px;
      background-color: currentcolor;
      transition: background-color 0.3s linear;
    }

    &:is(:hover, :active) {
      &::before {
        background-color: var(--color-green-100);
      }
    }

    &--dislike {
      &::before {
        mask-image: url("../img/sprite.svg#dislike");
      }

      &:is(:hover, :active) {
        &::before {
          background-color: var(--color-red);
        }
      }
    }
  }
}

.pagination {
  @include flex-all-center;

  &__btn {
    @include flex-all-center;

    position: relative;

    &::before {
      content: "";
      left: 0;
      // transform: translateY(-50%);
      position: absolute;
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: cover;
      mask-image: url("../img/sprite.svg#arrow");
      width: 16px;
      height: 16px;
      background-color: currentcolor;
      transition: background-color 0.3s linear;
    }

    &--reverse {
      &::before {
        rotate: 180deg;
        right: 0;
      }
    }
  }

  &__list {
    @include flex-all-center;
    padding: 0 2rem;

    li {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }

    a {
      position: relative;
      font-weight: 700;
      transition: color 0.3s linear;

      &:is(:hover, [aria-current="page"]) {
        color: var(--color-green);
      }
    }
  }
}

.link {
  text-decoration-color: currentcolor;
  text-decoration-thickness: from-font;
  text-underline-offset: 3px;
  text-decoration-skip-ink: solid;
  text-decoration-line: underline;
  transition:
    text-decoration-color 0.5s linear,
    color 0.5s linear;

  &:is(:hover, :active) {
    text-decoration-color: transparent;
    color: var(--color-green-100);
  }
}
