.page {
  min-height: 100vh;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-gray-900);
  background-color: var(--color-white);
  scroll-behavior: smooth;
  overscroll-behavior-y: none;

  &__body {
    min-width: 320px;
    min-height: 100%;
  }
}

.main {
  padding-top: rem(150);
}

.site-container {
  @include footerToBottom;
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  width: 100%;
  max-width: var(--container-width);

  &--wrapper {
    max-width: var(--wrapper-width);
  }
}

section {
  margin-bottom: rem(180);
}

.logo {
  @include flex-all-center;
  margin-right: clamp(25px, 3.75rem, 60px)
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.input-reset {
  border-color: transparent;
  padding: 15px 30px;
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  background-color: transparent;

  &::placeholder {
    color: var(--color-gray);
  }
}

.checkboxes {
  @include flex;

  gap: 12px;
  margin-bottom: rem(42);
  border: none;
  padding: 0;

  &__label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    color: var(--color-gray-700);
    padding: rem(6) rem(16);
    border-width: 1px;
    border-style: solid;
    border-color: var(--color-gray-400);
    border-radius: var(--br);
    transition-property: color, background-color, border-color;
    transition-duration: 0.3s;
    transition-timing-function: linear;
  }

  &__input {
    position: absolute;

    &:checked+.checkboxes__label {
      background-color: var(--color-green);
      border-color: var(--color-green);
      color: var(--color-white);
    }

    &:focus-visible+.checkboxes__label {
      outline: 2px solid var(--color-green);
      outline-offset: 2px;
    }

    &:disabled+.checkboxes__label {
      opacity: 0.4;
      pointer-events: none;
    }
  }
}

.login {
  position: relative;

  &__link {
    transition: 0.3s color linear;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      left: -23px;
      mask-image: url("../img/sprite.svg#profile");
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: cover;
      width: 16px;
      height: 16px;
      background-color: currentColor;
      transition: background-color 0.6s linear;
    }

    &:hover {
      color: var(--color-white);
    }
  }
}
