.page {
  min-height: 100vh;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-gray-900);
  background-color: var(--color-white);
  scroll-behavior: smooth;
  overscroll-behavior-y: none;

  &__body {
    min-width: 320px;
    min-height: 100%;
    scrollbar-width: thin;
    scrollbar-color: var(--color-green);

    &::-webkit-scrollbar {
      width: 1em;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--color-green);
      outline: 1px solid slategrey;
    }
  }
}

.main {
  padding-top: calc(var(--header-height));
}

.site-container {
  @include footerToBottom;
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  width: 100%;
  max-width: var(--container-width);

  &--wrapper {
    max-width: var(--wrapper-width);
  }
}

.section {
  margin-bottom: clamp(3rem, calc(2rem + 8.45vw), 11.25rem);
}

.logo {
  @include flex-all-center;

  flex-shrink: 0;
  margin-right: clamp(1rem, calc(0.5rem + 2.7vw), 3.75rem);
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.input-reset {
  border-color: transparent;
  padding: 15px 30px;
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  background-color: transparent;

  &::placeholder {
    color: var(--color-gray);
  }
}

.checkboxes {
  @include flex;

  gap: 12px;
  margin-bottom: rem(42);
  border: none;
  padding: 0;

  &__label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    color: var(--color-gray-700);
    padding: rem(6) rem(16);
    border-width: 1px;
    border-style: solid;
    border-color: var(--color-gray-400);
    border-radius: var(--br);
    transition-property: color, background-color, border-color;
    transition-duration: 0.3s;
    transition-timing-function: linear;
  }

  &__input {
    position: absolute;

    &:checked+.checkboxes__label {
      background-color: var(--color-green);
      border-color: var(--color-green);
      color: var(--color-white);
    }

    &:focus-visible+.checkboxes__label {
      outline: 2px solid var(--color-green);
      outline-offset: 2px;
    }

    &:disabled+.checkboxes__label {
      opacity: 0.4;
      pointer-events: none;
    }
  }
}

.login {
  &__btn {
    @include flex-all-center;
    position: relative;
    transition: 0.3s color linear;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-60%);
      left: -23px;
      mask-image: url("../img/sprite.svg#profile");
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: cover;
      width: 16px;
      height: 16px;
      background-color: currentColor;
      transition: background-color 0.6s linear;
    }

    span {
      @include for-width(-mobile-l) {
        display: none;
      }
    }

    &:hover {
      color: var(--color-white);
    }
  }
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;

  &::before {
    --vh: 100%;
    content: "";
    position: absolute;
    // top: 0;
    z-index: 95;
    width: 100%;
    // height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background-color: rgba(30, 33, 44, 0.75);
  }
}

.offers-slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 530px;

  &__item {
    font-weight: 900;
    font-size: 12px;

    a {
      position: relative;
      padding-left: 4px;
      font-weight: 400;
      transition: color 0.3s linear;

      &::before {
        content: "";
        position: absolute;
        bottom: -1px;
        width: 100%;
        height: 0.8px;
        background-color: currentcolor;
        transition: background-color 0.3s linear;
      }

      &:hover {
        &::before {
          background-color: transparent;
        }
      }
    }
  }

  .offers-btn {
    opacity: 0;
    transition: opacity 0.3s liner;
  }

  &:hover .offers-btn {
    opacity: 1;
  }
}

.countdown {
  padding-top: clamp(2rem, calc(1rem + 3.3vw), 5rem);
  margin-bottom: 20px;

  &__list {
    @include flex;

    gap: 24px;

    li {
      @include flex-all-center;

      flex-direction: column;
      font-weight: 700;
      font-size: 28px;
      line-height: 1.5;

      & span:last-of-type {
        font-weight: 400;
        font-size: 14px;
      }

      &:first-of-type {
        display: none;
        visibility: hidden;
        opacity: 0;
      }
    }
  }
}

.return__list {
  list-style-type: disc;

  li {
    padding-left: 16px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 4px;
      height: 4px;
      background-color: var(--color-green);
      border-radius: 50%;
    }
  }
}

.share {
  display: inline-flex;
  align-items: center;
  margin-bottom: rem(60);
  gap: 16px;
}

.payment__list {
  display: inline-flex;
  gap: rem(24);
}


@keyframes slide-up {
  0% {
    transform: translateY(-5%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.carousel {
  position: relative;
  width: 390px;
  height: 440px;

  &__item {
    height: 440px;
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;

    &[data-active] {
      opacity: 1;
      z-index: 1;
      transition-delay: 0ms;
    }
  }

  &-btn {
    display: inline-flex;
    align-items: center;
    position: absolute;
    isolation: isolate;
    left: 1rem;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);

    &::before {
      content: "";
      position: absolute;
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: cover;
      background-color: var(--color-gray-800);
      transition: background-color 0.7s linear;
      mask-image: url("../img/sprite.svg#chevron");
      width: 16px;
      height: 16px;
    }

    &--reverse {
      right: 1rem;
      rotate: 180deg;
    }

    &:hover::before {
      background-color: var(--color-green);
    }
  }

  .article__img {
    min-height: 440px;
  }
}
