.title {
  margin-bottom: clamp(1.5rem, calc(0.5rem + 2.7vw), 3.75rem);
  font-weight: 900;
  font-size: clamp(1.56rem, calc(1.3rem + 1.31vw), 2.88rem);
  line-height: 1.3;

  &--hero {
    font-size: clamp(2.19rem, calc(1.73rem + 2.31vw), 4.5rem);
    letter-spacing: 0.015em;
  }

  &--banners {
    margin-bottom: clamp(1.5rem, calc(1.5rem + vw(16)), 2.5rem);
    font-size: clamp(1.56rem, calc(1.48rem + 0.44vw), 2rem);
  }
}

.blog-article__title {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
  line-height: 1.5;

  &--small {
    font-size: clamp(0.8rem, 0.8rem + vw(3.2), 1rem);
    line-height: 1.6;
  }
}

.item-title {
  margin-bottom: 1.5rem;
  font-weight: 700;
  font-size: clamp(1.13rem, 1.05rem + 0.38vw, 1.5rem);
  line-height: 1.3;
}

h3 {
  font-weight: 700;
  font-size: clamp(1rem, calc(0.95rem + 0.25vw), 1.25rem);
  text-align: center;

  &::first-letter {
    text-transform: capitalize;
  }
}

.footer-title {
  margin-bottom: 12px;
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-white);
}

.slogan {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}
