:root {
  // base
  --font-family: "Lato", sans-serif;
  --font-second: "Ubuntu", sans-serif;
  --content-width: 1230px;
  --wrapper-width: 1860px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --color-white: #fff;
  --color-green: #17696a;
  --color-black: #1e212c;
  --color-brown: #b58269;
  --color-gray: #424551;
  --color-gray-100: #787a80;
}
