:root {
  // base
  --font-family: "Lato", sans-serif;
  --font-second: "Ubuntu", sans-serif;
  --content-width: 1230px;
  --wrapper-width: 1860px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --color-white: #fff;
  --color-white-100: #f1f1f1;
  --color-green: #17696a;
  --color-green-100: #03cea4;
  --color-green-200: #67ba92;
  --color-brown: #b58269;
  --color-beige: #d8c1ad;
  --color-brown-200: #874e19;
  --color-pink: #e0aea2;
  --color-dark-blue: #0c2c7e;
  --color-blue: #5a87fc;
  --color-blue-100: #c0dded;
  --color-gray-100: #f9f9f9;
  --color-gray-200: #f4f5f7;
  --color-gray-300: #e5e8ed;
  --color-gray-400: #d7dadd;
  --color-gray-500: #b3b7bc;
  --color-gray-600: #9a9ca5;
  --color-gray-700: #787a80;
  --color-gray-800: #424551;
  --color-gray-900: #1e212c;
  --color-black: #000;
  --color-red: #ff4242;
  --color-yellow: #fede41;
  --color-yellow-100: #fcd164;
  --color-blue-gray: #c0dded;
  --color-purple: #a27ac9;
  --color-orange: #fb9620;
  --br: 4px;
  --grid-gap: 30px;
  --shadow-small: 0 4px 4px -4px rgba(30, 33, 44, 0.03),
    0px 12px 10px -6px rgba(154, 156, 165, 0.04),
    0px 30px 24px -10px rgba(154, 156, 165, 0.05),
    0px 80px 80px -20px rgba(154, 156, 165, 0.08);
}
