:root {
  // base
  --font-family: "Lato", sans-serif;
  --font-second: "Ubuntu", sans-serif;
  --content-width: 1230px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --color-white: #fff;
  --color-green: #17696A;
  --color-black: #1E212C;
  --color-brown: #B58269;
  --color-gray: #636A6A;
}

